.attachments
	padding-bottom: 120px
	position: relative
	&__title
		text-align: center
	&__dino-block
		position: absolute
		max-width: 33%
		right: 0
		top: 50px
		background-image: url(../img/attachments-dino-bg.png)
		background-position: bottom right
		background-repeat: no-repeat
		background-size: contain
		padding-bottom: 60px