.main-header 
	background-color: orange
	color: #fff

	&__desc-mini,
	&__top-line-right,
	&__phone,
	&__message, 
	&__location 
		display: inline-block
		vertical-align: middle
	
	&__desc-mini, &__message 
		font-weight: bold 
		text-transform: uppercase 
	
	&__desc-mini 
		font-size: 14px

 
	&__top-line
		padding-left: 135px
	&__top-line-right
		float: right
 