@import "vars"
@import "fonts"
@import "libs"

// Container 
.s-container 
	max-width: 1340px
	padding: 0 15px
	margin: 0 auto

body 
	color: #000
	font-weight: 400
	font-family: $default-font

img 
	max-width: 100%
	height: auto


h2
	font-weight: 300
	font-size: 40px
	line-height: 48px

p
	font-weight: 300
	font-size: 18px
	line-height: 28px



@import "media" // Always at the end
